@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #faf9f7;
  font-family: 'Raleway', sans-serif;
}

section {
  scroll-margin-top: 70px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Syne', sans-serif;
}
